body {
	background: rgb(0,246,255);
	background: linear-gradient(29deg, rgba(0,246,255,1) 0%, rgba(131,0,255,1) 50%, rgba(0,242,255,1) 100%);
}


h1 {
	font-family: "Times New Roman", Times, serif;;
	color: #FF9A4A;
	font-size: 80px;
	text-align: center;
	border-bottom: 5px solid orange;
	padding: 5px;
}


h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 35px;
	background: linear-gradient(135deg, #FABE0E 20%, #FF4364 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	padding: 0.1em 0.6em 0.6em 0.6em ;
}


li {
	font-family: "Times New Roman", Times, serif;
	font-size: 23px;
	margin-bottom: 15px;
}


hr {
	border: none;
	background: #ff00cc;
	background: -webkit-linear-gradient(to left, #333399, #ff00cc);
	background: linear-gradient(to left, #333399, #ff00cc);
    height: 5px;
}
